div.textlist{
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    overflow-y: scroll;
}

div.titles{
    width: 20vw;
    max-width: 320px;
    min-width: 240px;

    padding-left: 16px;
    padding-right: 16px;

    position: sticky;
    top: 0px;
    background-color: white;
}



div.bodytext{
    width: 40vw;
    // max-width: 320px;
    min-width: 400px;
    text-align: justify;

    p{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-justify: auto;
    }
}
div.toread{
    text-align: left;
}

@media (max-width: 768px) {
    div.textlist{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    div.bodytext{
        width: auto;
        // max-width: 320px;
        min-width: fit-content;
        text-align: justify;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;
    
        p{
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            text-justify: auto;
            
        }
    }
}