<div class="individual_work">

    <div class="work">
        <div class="work_title">
            <h1>{{ page.title }}</h1>
        </div>
    
        <div class="work_date">
            <h2>{{ page.production_date }}</h2>
        </div>
    
        <div class="work_materials">
            <h2>{{ page.materials }}</h2>
        </div>
    
        <div class="work_dimensions">
            <h2>{{ page.dimensions }}</h2>
        </div>
    </div>

    <div class="individual_work_content">
        <div class="work_description">
            {{ page.content }}
        </div>
    
        <div class="work_images">
            
            {% for image in page.images %}
                
            <img src="{{ image }}" alt="">
        
            {% endfor %}
    
        </div>

    </div>


</div>