header{
    height: 8vh;
    // max-height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 16px;
    margin-right: 16px;
}

div.header_navigation{

    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
    // grid-auto-flow: column;
    // grid-auto-columns: max-content;
    gap: 16px;
    
    nav{
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    nav:hover{
        text-decoration: underline;
        cursor: pointer;
    }

}
div.title{
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 24px;
        font-family: "logic-monoscript", mono;
    }
}

div.email{
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content:center;

    h2{
        padding: 0px;
        margin: 0px;
    }
    h3{
        padding: 0px;
        margin: 0px;
        font-weight: 600;
        font-style: normal;
        color: #EC6236;
    }
}

@media (max-width: 768px) {
   div.email{
    flex-direction: row;
    margin-bottom: 8px;
   }
   div.header_navigation{
    display: none;
   }
   div.title{
    h1{
        margin: 0px;
        margin-top: 16px;
        margin-bottom: 8px;
    }
   }
   
   header{
    display: flex;
    flex-direction: column-reverse;
    // grid-template-columns: 1fr;
    height: auto;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 20;
   }
}