---
site_content: worklist.html
permalink: /readings/
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stolen School {{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/zum8sqi.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6ZKZHBK4RY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6ZKZHBK4RY');
</script>
  
  <body>
    <div class="body">
      {% include header.html %}
      {% include {{ layout.site_content }} %}
    </div>
    
  </body>
</html>
